# compiled output
/dist
/tmp

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.settings/


# System Files
.DS_Store
Thumbs.db

# project wireframe & designs
*.xd
designs
backup

# cache
*.cache
