<div class="container center-container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>ADMIN LOGIN</h2>
        <p>Please enter your email and password</p>
      </div>
      <form id="Login">
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" name="form.email"
                 [(ngModel)]="form.email">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="form.pass"
                 [(ngModel)]="form.pass">
        </div>
        <!--<div class="forgot">
          <a href="reset.html">Forgot password?</a>
        </div>-->
        <button type="submit" class="btn btn-primary" (click)="authenticateUser()">Login</button>
      </form>
    </div>
  </div>
</div>
