.client-list {
  height: 90vh;
  background: lightgray;
  padding: 0;
}

.p-l-2e {
  padding-left: 2em;
}

.m-t-1e {
  margin-top: 1em;
}

select {
  border: 0;
  direction: rtl;
}

.date-box {
  border-bottom: 1px solid #000;
  padding: 1px 1em 1px 1px;
  width: fit-content;
}
