<div *ngIf="allow" class="row main-nav">
  <div *ngIf="!isEmployees" class="col-2 client-list h-92 card p-3 apply-gradient">
    <!-- add customization here for search filter + client designation sort + add button -->
    <ngx-spinner *ngIf="loader.pageLoader" [fullScreen]="true" bdColor="rgba(51, 51, 51, 0.8)" size="default"
                 type="square-jelly-box">
      <p class="text-white">Please Wait...</p>
    </ngx-spinner>
    <div *ngIf="isEmployees" class="container mt-1 mb-1 main-nav__list">
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a (click)="userCategorySelectionChange('Admin')" aria-controls="pills-admin" aria-selected="true" class="nav-link context-menu-cursor active"
             data-toggle="pill" id="pills-admin-tab" role="tab">Admins</a>
        </li>
        <li class="nav-item">
          <a (click)="userCategorySelectionChange('Sub-Admin')" aria-controls="pills-contractor" aria-selected="false" class="nav-link context-menu-cursor"
             data-toggle="pill" id="pills-contractor-tab" role="tab">Contractors</a>
        </li>
        <li class="nav-item">
          <a (click)="userCategorySelectionChange('Menu-Admin')" aria-controls="pills-employee" aria-selected="false" class="nav-link context-menu-cursor"
             data-toggle="pill" id="pills-employee-tab" role="tab">Employees</a>
        </li>
      </ul>
    </div>

    <div class="mb-2 mt-2 row input-group">
      <div class="col-9 p-l-2e input-group_wrapper">
        <input (change)="clientSearch(searchText)" [(ngModel)]="searchText" class="form-control" name="searchText"
               placeholder="Search here...">
      </div>
      <div *ngIf="isEmployees" class="col-2 p-0 input-group_wrapper">
        <div #addUserModal class="text-center icon-user-plus" data-target="#addUserModal" data-toggle="modal">
          <span data-toggle="tooltip" title="Add Employee"><i class="fa fa-user-plus"></i></span>
        </div>
      </div>

      <div *ngIf="!isEmployees" class="col-2 p-0 input-group_wrapper">
        <div #addClientModal class="text-center icon-user-plus" data-target="#addClientModal" data-toggle="modal">
          <span data-toggle="tooltip" title="Add Client"><i class="fa fa-user-plus"></i></span>
        </div>
      </div>
    </div>

    <div class="list-group">
      <div *ngIf="(isEmployees ? employeeList : clientList).length > 0">
        <span *ngIf="getFilteredClientList().length > 0">
          <li (click)="loadDocInfo(item)" *ngFor="let item of getFilteredClientList()"
              [ngClass]="{'highlight-row': item.isSelected}" aria-current="true"
              class="arrow-pointer list-group-item list-group-item-action p-l-2e mb-2">
            <div class="d-flex w-100 justify-content-between">
              <span class="mb-1">{{item.name}}</span>
              <span *ngIf="item.isSelected" class="highlighted-item-row"> <!-- selected item highlight -->
                &#x296C;
              </span>
            </div>
         </li>
        </span>
        <span *ngIf="getFilteredClientList().length < 1">
          <li (click)="loadDocInfo(item)" *ngFor="let item of (isEmployees ? employeeList : clientList)"
              [ngClass]="{'highlight-row': item.isSelected}" aria-current="true"
              class="arrow-pointer list-group-item list-group-item-action p-l-2e mb-2">
              <div class="d-flex w-100 justify-content-between">
                <span class="mb-1 font-header f-w-b">{{item.name}}</span>
                <span *ngIf="item.isSelected" class="highlighted-item-row"> <!-- selected item highlight -->
                  &#x296C;
                </span>
              </div>
          </li>
        </span>

      </div>
      <div *ngIf="(isEmployees ? employeeList : clientList).length < 1" aria-current="true"
           class="text-center list-group-item list-group-item-action p-l-2e m-t-1e pt-0 pb-0">
        <h5 class="mb-1">No clients registered yet</h5>
      </div>
    </div>
  </div>

  <!-- CLIENT's DETAILS -->
  <div *ngIf="!isEmployees" class="col-3 h-92"> <!-- DETAILS -->
    <div class="row m-0 main-section">

      <div class="shadow p-3 bg-white rounded h-92 main-section-list apply-gradient">
        <div class="row">
          <div class="col-7">
            <h3>SITES</h3>
          </div>
          <div class="col-5">
            <div class=" text-end mb-3">
              <button class="btn btn-outline-primary" data-target="#addSiteModal" data-toggle="modal">
                Add Site &#x2b;
              </button>
            </div>
          </div>
        </div>
        <hr class="mt-0">
        <div *ngIf="selectedClient.sites !== undefined" class="row">
          <div *ngIf="selectedClient.sites.length < 1" class="no-data-dropbox text-center">
            <div class="no-data-content left-25">
              <i class="fa fa-3x fa-dropbox"></i>
              <span class="text-center no-data-icon" style="text-align: center">No Sites
                Available</span>
            </div>
          </div>
        </div>
        <div *ngIf="selectedClient['sites'] && selectedClient.sites.length > 0"
             id="client-sites">
          <div (click)="onSelect(item)" *ngFor="let item of selectedClient['sites']"
               [class.selected]="item === selectedItem"
               [ngClass]="{'highlight-row': item === selectedItem}"
               class="card-wrapper mb-2 arrow-pointer">
            <div class="sites-card-list">
              <div class="card-header">
                <span class="mb-0">
                  <div class="col-12 arrow-pointer card-list font-header f-w-b">
                    <label class="arrow-pointer">{{item['name']}}</label>
                    <span *ngIf="item === selectedItem" class="highlighted-item-row pt-2 float-right"> <!-- selected item highlight -->
                      &#x296C;
                    </span>
                  </div>
                  <div class="caption-box font-body">{{item['contractor']}}</div>
                </span>
              </div>

            </div>
          </div>
        </div>
        <div *ngIf="selectedClient.sites.length < 0" class="dataNotFound text-black-50 text-center">
          No Client found.
        </div>
      </div>
      <div class="row"></div>
    </div>

    <!-- USER's DETAILS -->
    <div *ngIf="isEmployees" class="col-9 h-92 side-nav"> <!-- DETAILS -->

      <div class="row pt-3">
        <div class="col-12">
          <span class="font-xlarge"><i class="fa fa-map-marker"></i>&nbsp;{{selectedUser['activeSite']}}</span>
          &nbsp;<span (click)="clientDataStore()" class="change-text" data-bs-target="#changeSiteModal"
                      data-bs-toggle="modal">
          Change
        </span>
        </div>
        <div class="col-9 text-end"> <!-- CLIENT'S SITE NAME -->
        </div>
      </div>
      <hr>
      <div class="row container block-container">
        <div class="list-group">
          <div *ngFor="let key of keyList">

            <div *ngFor="let item of renderList(key); let index = index;" [ngClass]="{'mb-1': index !== 0}" class="row">
              <div class="col-1">
                <span *ngIf="index === 0" class="display-day">{{getWeekDayText(key)}}</span>
                <h4 *ngIf="index === 0" class="mb-0 mt--4">{{key}}</h4>
              </div>
              <div class="col-11">
                <div class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-2"> <!-- time -->
                      {{item.time}}
                    </div>
                    <div [ngClass]="{'bg-danger': item.status === 'On Leave', 'bg-warning': item.status === 'Sign Out',
                       'bg-success': item.status === 'Sign In'}"
                         class="col-2 badge">
                      <!-- status -->
                      {{item.status}}
                    </div>
                    <div class="col-8">
                      <span *ngIf="!item.reason || item.reason.length < 5">{{item.site}}</span>
                      <span *ngIf="item.reason && item.reason.length > 0"
                            class="text-danger">Reason: {{item.reason}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isEmployees" class="col-7 shadow pt-3 bg-white rounded overflow-scroll right-sidebar apply-gradient h-92">
    <!-- widget-3 -->
    <div class="card h-43 mb-3">
      <div class="card-header">
        <div *ngIf="selectedItem">
          <div class="row">
            <div class="col-6">
              <h3><b>#</b> {{selectedItem['name']}}</h3>
            </div>
            <div class="col-6 text-end">
              <select (click)="getDateFromMonth()" [(ngModel)]="currentDate"
                      class="border-0 border-2 border-bottom m-r-1e f-s-1" name="currentDate">
                <option *ngFor="let i of getDateFromMonth()" value="{{i}}">{{i}}</option>
              </select>
              <div (click)="updateDynamicDetailSelection(4)" class="m-r-1e icon-info p-l-2e fa-2x" data-toggle="tooltip"
                   title="Information">
                <i class="fa fa-info"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body overflow-scroll">
        <!-- project manager -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label"><span class="font-header f-w-b">Project Manager/s</span></label>
          <div class="col-sm-9 col-form-label arrow-pointer item-selection font-body">
            <span (click)="selectEmployee(employee.uid)"
                  *ngFor="let employee of selectedSiteContractorList">{{employee.name}}</span>
            <span *ngIf="selectedSiteContractorList.length < 1">-</span>
          </div>
        </div>

        <!-- employees -->
        <label class="col-form-label-lg text-uppercase"><span class="font-header f-w-b">Employees</span></label>
        <div *ngIf="selectedSiteEmployeeList.length < 1" class="row mb-3 g-0">
          (No employees allocated yet)
        </div>
        <div *ngIf="selectedSiteEmployeeList.length > 0" class="row g-3 mb-3">
          <div (click)="selectEmployee(employee.uid)"
               *ngFor="let employee of selectedSiteEmployeeList" class="col-4 border-end border-bottom arrow-pointer item-selection font-body">
            {{employee.name}}
          </div>
        </div>

        <!-- visitors -->
        <!--<label class="col-form-label-lg text-uppercase"><b>Visitors</b></label>
        <div class="row g-3 mb-3">
          <div class="col-4 border-end border-bottom arrow-pointer item-selection" *ngFor="let i of [1,2,3,4,5]">
            Nicolas Timelane
          </div>
        </div>-->

        <!-- images -->
        <div class="row mb-3">
          <!-- materials -->
          <div class="col-6">
            <div>
              <button (click)="selectMaterials('Materials')" class="btn btn-block">
                <span class="font-header f-w-b">Materials</span>
              </button>
              <label class="col-form-label-lg"><span class="text-uppercase">&nbsp;
                <span class="arrow-pointer icon-right-arrow">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </span></label>
            </div>
            <img alt="Sample" height="200" src="{{defaultMaterialImage}}"/>
          </div>

          <!-- work progress -->
          <div class="col-6">
            <div>
              <label class="col-form-label-lg font-header"><b class="text-uppercase">Progress&nbsp;
                <span (click)="selectMaterials('Progress')" class="arrow-pointer icon-right-arrow">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </b></label>
            </div>
            <img alt="Sample" height="200" src="{{defaultProgressImage}}"/>
          </div>
        </div>
      </div>
    </div>
    <ngx-spinner *ngIf="loader.addClientLoader" [fullScreen]="false" bdColor="rgba(51, 51, 51, 0.8)" size="default"
                 type="square-jelly-box">
      <p class="text-white">Please Wait...</p>
    </ngx-spinner>
    <!-- dynamic column for data display -->
    <div class="card h-43 overflow-scroll">
      <div class="card-body">
        <!-- for employee/contractor attendance display -->
        <div *ngIf="displayEmployeeDetail" class="employee-detail-list">
          <div class="row">
            <div class="col-6">
              <label class="col-form-label text-uppercase">{{selectedSiteEmployee}}</label>
            </div>
            <div class="col-6 text-end">
              <!-- active - green - Sign In -->
              <label *ngIf="selectedSiteEmployeeStatus === 'Sign In'" class="col-form-label text-success"><i
                class="icon-dot">&#x26AC;&nbsp;</i>Active</label>
              <!-- on leave - red - On Leave -->
              <label *ngIf="selectedSiteEmployeeStatus === 'On Leave'" class="col-form-label text-danger"><i
                class="icon-dot">&#x26AC;&nbsp;</i>On
                Leave</label>
              <!-- at lunch - yellow -->
              <label *ngIf="selectedSiteEmployeeStatus === 'At Lunch'" class="col-form-label text-warning"><i
                class="icon-dot">&#x26AC;&nbsp;</i>At
                Lunch</label>
              <!-- offline - grey - Sign Out -->
              <label *ngIf="selectedSiteEmployeeStatus === '' || selectedSiteEmployeeStatus === 'Sign Out'"
                     class="col-form-label text-black-50"><i
                class="icon-dot">&#x26AC;&nbsp;</i>Offline</label>
            </div>
          </div>

          <div *ngIf="employeeAttendance.length < 1" class="row mb-3 g-0">
            (No attendance record found for this month.)
          </div>
          <!-- display last three status-es -->
          <div *ngIf="employeeAttendance.length > 0" class="row g-3 mb-3">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of employeeAttendance">
                <td>{{item.date}}</td>
                <td>{{item.time}}</td>
                <td>{{item.status}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- for materials list -->
        <div *ngIf="materialImagesDisplay || progressImagesDisplay" class="image-list">
          <div class="container image-list">
            <div class="row">
              <div class="col-12 mb-1 p-0">
                <span class="text-uppercase">
                  <span *ngIf="materialImagesDisplay" class="font-header f-w-b">Materials</span>
                  <span *ngIf="progressImagesDisplay" class="font-header f-w-b">Work Progress</span>
                </span>
              </div>
              <ngx-spinner *ngIf="loader.addClientLoader" [fullScreen]="false" bdColor="rgba(51, 51, 51, 0.8)" size="default"
                           type="square-jelly-box">
                <p class="text-white">Please Wait...</p>
              </ngx-spinner>
              <div *ngFor="let img of renderImages();let i=index" class="col-4">
                <a (click)="openImageModel(img,i)" data-target="#materials-progress-modal" data-toggle="modal">
                  <img alt="" src={{img}}/>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div aria-hidden="true" aria-labelledby="materials-progress-modal-label" class="modal fade" id="materials-progress-modal"
             role="dialog" tabindex="-1">
          <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
              <div class="model-body">
                <div class="row">
                  <div class="col-7">
                    <div class="carousel slide" data-interval="false" id="image-modal-carousel">
                      <div class="carousel-inner" role="listbox">
                        <div *ngFor="let image of renderImages() let i = index" [ngClass]="{'active': i == imgId }"
                             class="carousel-item">
                          <a class="carousel-control-prev" data-slide="prev" href="#image-modal-carousel" role="button">
                            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <img alt="First slide" class="d-block w-100 img-responsive" src={{image}}>
                          <a class="carousel-control-next" data-slide="next" href="#image-modal-carousel" role="button">
                            <span aria-hidden="true" class="carousel-control-next-icon"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-5 pt-2">
                    <label>12/02/2021</label>
                    <p>Sample Text Message Here</p>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- site info -->
        <div *ngIf="displayInfoView" class="m-t-1e" id="InfoView">
          <table class="table table-striped">
            <tbody>
            <tr>
              <th class="text-uppercase" scope="col">Ref</th>
              <td>{{selectedItem['refNo']}}123</td>
            </tr>
            <tr>
              <th class="text-uppercase" scope="col">Address</th>
              <td>{{selectedItem['address']}}</td>
            </tr>
            <tr>
              <th class="text-uppercase" scope="col">Pincode</th>
              <td>{{selectedItem['pincode']}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <span class="text-black-50 top-50 left-50 position-relative font-header">
          <i class="fas fa-skull-crossbones"></i>
          Please select any item from above.
        </span>
      </div>
    </div>
  </div>
  <!-- Employee Screen -->
  <div class="employee-container">
    <div class="row">
      <div *ngIf="isEmployees" class="col-3 employee-sidebar h-92 apply-gradient m-t-3 m-l-3 m-b-3 p-0">
        <div class="filter">
          <div class="filter-list">
            <div class="filter-item">
              <div class="card card-body apply-gradient">
                <span class="font-header f-w-b">Employees</span>
                <div class="input-group mb-3">
                  <input (change)="employeeSearch(searchText)" [(ngModel)]="searchText" aria-describedby="basic-addon2" aria-label="Free Text Search"
                        class="form-control apply-gradient searchText" name="searchText"
                        type="text">
                 <!--  <span (click)="employeeSearch(searchText)" class="input-group-text fa fa-search"
                        id="basic-addon2"></span> -->
                </div>
              </div>
              <hr style="text-align:left;margin-left:0;color: #fff;">
              <div class="card card-body apply-gradient">
                <span class="font-header f-w-b">Designation</span>
                <div *ngFor="let item of availableDesignationList let i=index" class="form-check">
                  <input (change)="onDesignationSelection(item)" [(ngModel)]="selectedDesignation" class="form-check-input" id="{{item}}-designation"
                        name="designation"
                        type="radio" value="{{item}}">
                  <label class="form-check-label" for="{{item}}-designation">
                    {{item}}
                  </label>
                </div>
              </div>
              <hr style="text-align:left;margin-left:0;color: #fff;">
              <div class="card card-body apply-gradient">
                <span class="font-header f-w-b">Status</span>
                <div *ngFor="let item of availableStatusList" class="form-check">
                  <input (change)="onStatusSelection(item)" [(ngModel)]="selectedStatus" class="form-check-input" id="{{item}}-status" name="status"
                        type="radio" value="{{item}}">
                  <label class="form-check-label" for="{{item}}-status">
                    {{item}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isEmployees" class="col-9 employee-main-content h-92 p-0">
        <div class="employee-card-container h-92 apply-gradient m-3">
          <div class="card-header mb-3">
            <h3>EMPLOYEE DETAILS</h3>
          </div>
          <div *ngIf="tempSelectedEmployees.length > 0" class="card-container">
            <div class="row">
              <div *ngFor="let item of tempSelectedEmployees;let j=index" class="card col-3">
                <div (click)="openEmployeeDetailsModel(item,j)" class="card-body p-l-r-0 p-t-b-0_5" data-bs-target="#employeeDetailModal"
                    data-bs-toggle="modal" data-toggle="modal">
                  <div class="row">
                    <div class="col-6">
                      <span class="card-title font-header">{{item.name}}</span>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div class="col-6">
                          <label class="col-form-label text-uppercase">{{selectedSiteEmployee}}</label>
                        </div>
                        <div class="col-6 text-end">
                          <!-- active - green - Sign In -->
                          <label *ngIf="selectedSiteEmployeeStatus === 'Sign In'" class="col-form-label text-success"><i
                            class="fa fa-circle" data-toggle="tooltip" title="Active"></i></label>
                          <!-- on leave - red - On Leave -->
                          <label *ngIf="selectedSiteEmployeeStatus === 'On Leave'" class="col-form-label text-danger"><i
                            class="fa fa-circle" data-toggle="tooltip" title="On Leave"></i></label>
                          <!-- at lunch - yellow -->
                          <label *ngIf="selectedSiteEmployeeStatus === 'At Lunch'" class="col-form-label text-warning"><i
                            class="fa fa-circle" data-toggle="tooltip" title="At Lunch"></i></label>
                          <!-- offline - grey - Sign Out -->
                          <label *ngIf="selectedSiteEmployeeStatus === '' || selectedSiteEmployeeStatus === 'Sign Out'"
                                class="col-form-label text-black-50"><i
                            class="fa fa-circle" data-toggle="tooltip" title="Offline"></i></label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="subtitle font-body">
                    <span class="card-subtitle mb-2 text-muted">#998877665544</span>
                    <span class="card-subtitle mb-2 text-muted t-a-r">{{item.designation}}</span>
                  </div>
                  <div class="card-text font-body">
                    <span
                      *ngIf="item.activeSite=== undefined || item.activeSite === null  || item.activeSite=='' ">-</span>
                    <p>{{item.activeSite}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="tempSelectedEmployees.length<1" class="row">
          <div class="no-data-dropbox text-center">
            <div class="no-data-content left-50">
              <i class="fa fa-3x fa-dropbox no-data-icon"></i>
              <span class="text-center" style="text-align: center">Data Not Available for selected filter</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update Employee's Site -->
<div aria-hidden="true" aria-labelledby="changeSiteModalLabel" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="true"
     id="changeSiteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeSiteModalLabel">Change Site</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label" for="client"><b>Client</b></label>
            <select (change)="onClientSelectionChange($event.target)" [(ngModel)]="updateSite.client" class="form-select"
                    id="client" name="updateSite.client">
              <option *ngFor="let site of clientList" value="{{site.name}}">{{site.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label" for="sites"><b>Sites</b></label>
            <select [(ngModel)]="updateSite.site" class="form-select" id="sites" name="updateSite.site">
              <option *ngFor="let site of changeSiteDropdownList" [disabled]="changeSiteDropdownList.length < 1"
                      value="{{site.name}}">{{site.name}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
        <button (click)="updateUserSite()" class="btn btn-primary" type="button">Update Site</button>
      </div>
    </div>
  </div>
</div>

<!-- Add New Site -->
<div aria-hidden="true" aria-labelledby="addSiteModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="true"
     id="addSiteModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSiteLabel">Add New Site</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-2">
              <label class="form-label" for="client">Client</label>
            </div>
            <div class="col-10">
              <label>{{selectedClient.name}}</label>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">
              <label class="form-label" for="sites">Name</label>
            </div>
            <div class="col-10">
              <input [(ngModel)]="newSiteData.name" class="form-control" name="siteName">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">
              <label class="form-label" for="sites">Address</label>
            </div>
            <div class="col-10">
              <input [(ngModel)]="newSiteData.address" class="form-control" name="siteAddress">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">
              <label class="form-label" for="sites">Pincode</label>
            </div>
            <div class="col-10">
              <input [(ngModel)]="newSiteData.pincode" class="form-control" name="sitePincode" type="number">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        <button (click)="addSite()" class="btn btn-primary" type="button">Add Site</button>
      </div>
    </div>
  </div>
</div>

<!-- Add User -->
<div aria-hidden="true" aria-labelledby="addUserModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="true"
     id="addUserModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <ngx-spinner *ngIf="loader.addUserLoader" [fullScreen]="false" bdColor="rgba(51, 51, 51, 0.8)" size="default"
                   type="square-jelly-box">
        <p class="text-white">Please Wait...</p>
      </ngx-spinner>
      <div class="modal-header">
        <h5 class="modal-title" id="addUserLabel">Add New User</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-2">
              <label class="form-label" for="client">Name</label>
            </div>
            <div class="col-10">
              <input [(ngModel)]="employee.username" class="form-control" name="employee.username">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">
              <label class="form-label" for="sites">Email</label>
            </div>
            <div class="col-10">
              <input [(ngModel)]="employee.emailAddress" class="form-control" name="employee.emailAddress">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-2">
              <label class="form-label" for="sites">Designation</label>
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-12">
                  <select [(ngModel)]="employee.designation" class="form-select" name="employee.designation">
                    <option *ngFor="let entity of userTypes"
                            value="{{entity.srch}}">{{entity.srch}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="addUserError" class="mb-3">
            <div class="alert alert-danger" role="alert">
              Error occurred while creating new user
            </div>
          </div>
          <div class="row mb-3">
            <span class="text-black-50"><b>Please Note</b>: Password for the user will be set as first name from name field with 123. Eg. Don Jon will have the password as don123</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        <button (click)="addUser()" class="btn btn-primary" type="button">Add User</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Client -->
<div aria-hidden="true" aria-labelledby="addClientModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="true"
     id="addClientModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <ngx-spinner *ngIf="loader.addClientLoader" [fullScreen]="false" bdColor="rgba(51, 51, 51, 0.8)" size="default"
                   type="square-jelly-box">
        <p class="text-white">Please Wait...</p>
      </ngx-spinner>
      <div class="modal-header">
        <h5 class="modal-title" id="addClientLabel">Add New Client</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-2">
              <label class="form-label" for="client">Client Name</label>
            </div>
            <div class="col-10">
              <input [(ngModel)]="client.name" class="form-control" name="client.name">
            </div>
          </div>
          <div *ngIf="addUserError" class="mb-3">
            <div class="alert alert-danger" role="alert">
              Error occurred while creating new client
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
        <button (click)="addNewClient()" class="btn btn-primary" type="button">Add Client</button>
      </div>
    </div>
  </div>
</div>

<!-- Employee Detail Model -->

<div aria-hidden="true" aria-labelledby="employeeDetailModal-label" class="modal fade" id="employeeDetailModal"
     role="dialog" tabindex="-1">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="model-body">
        <div class="row">
          <div class="col-12">
            <div class="carousel slide" data-interval="false" id="employeeDetail-carousel">
              <div class="carousel-inner" role="listbox">
                <div *ngFor="let item of employeeList let k = index" [ngClass]="{'active': k == recordId }"
                     class="carousel-item">
                  <a class="carousel-control-prev" data-slide="prev" href="#employeeDetail-carousel" role="button">
                    <span class=" fa fa-angle-left fa-2x"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <!-- Show Employeedetails in pop up -->
                  <div class="card apply-gradient">
                    <div class="card-body">
                      <table class="table">
                        <thead class="card-title">
                        <tr>
                          <th class="col-6" scope="col"><h5>{{item.name}}</h5></th>
                          <th class="col-6" scope="col">
                            <div class="text-end">
                              <!-- active - green - Sign In -->
                              <label *ngIf="selectedSiteEmployeeStatus === 'Sign In'"
                                     class="col-form-label text-success"><i class="fa fa-circle"
                                                                                         data-toggle="tooltip"
                                                                                         title="Active"></i>Active</label>
                              <!-- on leave - red - On Leave -->
                              <label *ngIf="selectedSiteEmployeeStatus === 'On Leave'"
                                     class="col-form-label text-danger"><i class="fa fa-circle"
                                                                                          data-toggle="tooltip"
                                                                                          title="On Leave"></i>On Leave</label>
                              <!-- at lunch - yellow -->
                              <label *ngIf="selectedSiteEmployeeStatus === 'At Lunch'"
                                     class="col-form-label text-warning"><i class="fa fa-circle"
                                                                                          data-toggle="tooltip"
                                                                                          title="At Lunch"></i>At Lunch</label>
                              <!-- offline - grey - Sign Out -->
                              <label *ngIf="selectedSiteEmployeeStatus === '' || selectedSiteEmployeeStatus === 'Sign Out'"
                                     class="col-form-label text-black-50"><i
                                class="fa fa-circle" data-toggle="tooltip" title="Offline"></i>Offline</label>
                            </div>
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>#998877665544</td>
                          <td>{{item.email}}</td>
                        </tr>
                        <tr>
                          <th>{{item.designation}}</th>
                        </tr>
                        <tr>
                          <td *ngIf="item.activeSite" colspan="2">{{item.activeSite}}</td>
                          <td *ngIf="item.activeSite=== undefined || item.activeSite === null  || item.activeSite=='' ">
                            -
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <table *ngIf="item.attendance.length>0" cellspacing="0" class="table borderless"
                             id="employee-data-table" width="100%">
                        <thead>
                        <tr>
                          <th class="th-sm">DATE
                          </th>
                          <th class="th-sm">TIME
                          </th>
                          <th class="th-sm">SITE
                          </th>
                          <th class="th-sm">STATUS
                          </th>
                          <th class="th-sm">REASON
                          </th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let row of item.attendance">
                        <tr>
                          <td>{{row.date}}-{{currMonYear}}</td>
                          <td>{{row.time}}</td>
                          <td>{{row.site}}</td>
                          <td>{{row.status}}</td>
                          <td>{{row.reason}}</td>
                        </tr>
                        </tbody>
                      </table>
                      <div class="row">
                        <div class="col-12">
                          <nav aria-label="page navigation example" style="color: white !important;">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="javascript:void(0);">«
                                Previous</a></li>
                              <li class="page-item"><a class="page-link" href="javascript:void(0);">Next
                                »</a></li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-next" data-slide="next" href="#employeeDetail-carousel" role="button">
                    <span class=" fa fa-angle-right fa-2x"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
