.client-list {
  height: 90vh;
  box-shadow: 0 0 10px -4px rgb(35 31 31 / 90%);
  padding: 0;
}

.p-l-2e {
  padding-left: 2em;
}

.p-b-2e {
  padding-bottom: 2em;
}

.m-t-1e {
  margin-top: 1em;
}

.hide-border-select {
  border: 0;
}

.dir-rtl {
  direction: rtl;
}

.date-box {
  padding: 1px 1em 1px 1px;
  width: fit-content;
}

.fs-16 {
  font-size: 16px;
}

.font-xlarge {
  font-size: x-large;
}

.arrow-pointer {
  cursor: pointer;
}

.change-text {
  font-size: 0.75em;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.highlighted-item-row {
  position: absolute;
  right: 1em;
}

.highlight-row {
  background: #000 !important;
  color: #fff;
  .card{
    background-color: #000;
  }
  .caption-box{
    color: #fff;
  }
}

.display-day {
  font-size: 0.9em;
  font-weight: bold;
  color: gray;
}

.mt--4 {
  margin-top: -4px;
}

.nav-link.active {
  border-radius: 0.4em;
  background-color: #f3f3f3;
}

.active, .nav-link:hover {
  background-color: #666;
  color: white;
}
.context-menu-cursor {
  cursor: context-menu;
}

.h-100 {
  height: 100vh !important;
}

.h-92 {
  height: 92vh !important;
}

.h-43 {
  height: 43vh;
}

.side-nav {
  background: #e6eaee;

  .list-group-item {
    border-radius: 0.4em;
  }
}

.block-container {
  height: 80vh;
  overflow: scroll;
}

.custom-scrollbar {
  position: relative;
  height: ~"calc(100vh - 475px)";
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

   td:hover {
    background-color: rgb(180, 179, 179);
    text-decoration: underline;
    color: blue;
  }

.h-30{
  height: 46vh !important;
}

.m-r-1e{
  margin-right: 1em !important;
}

.p-05e {
  padding: 0.5em !important;
}

.overflow-scroll {
  overflow-y: scroll;
}

.item-selection:hover {
  color: #a52a2a;
}

.image-list {
  border-radius: 15px;
  img {
    width: 100%;
    height: 15vh;
    border-radius: 10px;
  }
  a{
    /* margin: 2px; */
    width: 75%;
    border: 4px solid transparent;
    display: inline-block;
    border-radius: 10px;
    opacity: 5;
  }
  a:hover{
    border-color: #fff;
    /* transform: scale(1.5);  */
    opacity: 1;
  }
}

#image-modal-carousel .carousel-inner .carousel-item{
  max-height: 120vh;
  height: 80vh;
  overflow: hidden;
  img {
    width: 100%;
    min-height: 100%;
  }
}

.p-l-7{
  padding-left: 17px;
}

.p-r-7{
  padding-right: 17px;
}

.f-s-1 {
  font-size: 1em;
}

.caption-box {
  font-size: small;
}
