<div class="text-center m-3" id="accordion">

    <button id="openModal" #openModal [hidden]="true" data-target="#regularizeModal" data-toggle="modal"></button>    
    <div aria-hidden="true" aria-labelledby="regularizeModal-label" class="modal fade" id="regularizeModal"
     role="dialog" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog  modal-lg" role="document">
          <div class="modal-content">
            <!-- <ngx-spinner *ngIf="loader.addUserLoader" [fullScreen]="false" bdColor="rgba(51, 51, 51, 0.8)" size="default"
                type="square-jelly-box">
                <p class="text-white">Please Wait...</p>
            </ngx-spinner> -->
            <div class="modal-header">
              <h5 class="modal-title">Apply to regularize attendance</h5>
                <!-- <button aria-label="Close" class="btn-close" data-dismiss="modal" type="button"></button> -->
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label class="mb-2 text-capitalize text-black-50" for="reason">Enter reason for leave</label>
                    <input [(ngModel)]="reason" class="form-control" id="reason" name="reason" placeholder="Type here...">
                  </div>
                  <div class="form-group mb-3">
                    <label class="mb-2 text-capitalize text-black-50" for="time">Select time</label>
                    <timepicker [(ngModel)]="signOutTime" [arrowkeys]="true"></timepicker><!-- [showSpinners]="false" -->
                    <!-- <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline> -->
                  <pre class="alert alert-info">Time is: {{signOutTime}}</pre>
                  </div>
                  
            </div>
            <div class="modal-footer">
              <button type="button" (click)="regularize()" class="btn btn-outline-dark btn-lg" [disabled]="reason.length < 3" data-dismiss="modal">Save changes</button>
              <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
            </div>
          </div>
        </div>
      </div>
  <!-- your site -->
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="text-uppercase">Your Site</h5>
    </div>
    <div class="card-body">
      <span *ngIf="activeUser !== undefined">
        <h3 class="m-0">{{activeUser['activeSite'].site}}</h3>
        <br>
        <span class="text-black-50">{{activeUser['activeSite'].address}} - {{activeUser['activeSite'].pincode}}</span>
      </span>
      <h3 *ngIf="activeUser === undefined || activeUser['activeSite'].length < 1">
        -
      </h3>
      <hr>
      <h6>({{entireDate}})</h6>
    </div>
  </div>

  <!-- site updates -->
  <div
    *ngIf="activeUser !== undefined && activeUser.designation !== undefined && activeUser.designation === 'Supervisor'"
    class="card mb-4">
    <!-- permission only if second level admin -->
    <div class="card-header">
      <h5 class="text-uppercase">Site Updates&nbsp;
        <span class="position-absolute right-1">
          <img alt="notification" height="20" src="https://image.flaticon.com/icons/png/512/1827/1827422.png"
               width="20"/>
        </span>
      </h5>
    </div>
    <div class="card-body">

      <!-- upload material -->
      <div>
        <input (change)="onFileSelected($event, true)" [disabled]="checkUploadButtonCondition()" autocomplete="off"
               class="btn btn-primary" hidden id="uploadMaterial" name="image" type="file"/>
        <label class="border-dark btn btn-light btn-close-white w-75" for="uploadMaterial">
          &#x2750;&nbsp;Upload Material
        </label>
      </div>

      <!-- upload progress -->
      <div class="mt-2">
        <input (change)="onFileSelected($event, false)" [disabled]="checkUploadButtonCondition()" autocomplete="off"
               class="btn btn-primary" hidden id="uploadProgress" name="image" type="file"/>
        <label class="border-dark btn btn-light btn-close-white w-75" for="uploadProgress">
          &#x262F;&nbsp;Upload Progress
        </label>
      </div>

    </div>
  </div>

  <!-- visitors -->
  <div
    *ngIf="activeUser !== undefined && activeUser.designation !== undefined && activeUser.designation === 'Supervisor'"
    class="card mb-4">
    <!-- permission only if second level admin -->
    <div class="card-header">
      <h5 class="text-uppercase">Visitors</h5>
    </div>
    <div class="card-body">

      <!-- visitors -->
      <div class="form-group mb-3">
        <input [(ngModel)]="newVisitor" class="form-control" id="newVisitor" name="new-visitor"
               placeholder="Enter visitor's name here">
      </div>
      <button (click)="visitorEntry(this.newVisitor, true, 0)" [disabled]="newVisitor.length < 2"
              class="btn btn-outline-dark btn-lg">
        Add Visitor
      </button>

      <ul class="list-group list-group-flush mt-4">
        <li *ngFor="let i of visitorList; let index = index;"
            class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{i.name}}</span>
          <button (click)="visitorEntry(i.name, false, index)" *ngIf="i.status === 'In'"
                  class="badge text-dark">Out
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- contractor -->
  <div
    *ngIf="activeUser !== undefined && activeUser.designation !== undefined && activeUser.designation === 'Supervisor'"
    class="card mb-4">
    <!-- permission only if second level admin -->
    <div class="card-header">
      <h5 class="text-uppercase">Visiting Contractors</h5>
    </div>
    <div class="card-body">

      <!-- visitors -->
      <div class="form-group mb-3">
        <input [(ngModel)]="newVisitingContractor" class="form-control" id="newVisitingContractor"
               name="new-visiting-contractor" placeholder="Enter contractor's name here">
      </div>
      <button (click)="visitingContractorEntry(this.newVisitingContractor, true, 0)"
              [disabled]="newVisitingContractor.length < 2"
              class="btn btn-outline-dark btn-lg">
        Add Contractor
      </button>

      <ul class="list-group list-group-flush mt-4">
        <li *ngFor="let i of visitingContractorList; let index = index;"
            class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{i.name}}</span>
          <button (click)="visitingContractorEntry(i.name, false, index)" *ngIf="i.status === 'In'"
                  class="badge text-dark">Out
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- actions -->
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="text-uppercase">Actions</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div
          *ngIf="(getCurrentUserStatus() === 'Sign Out' || getCurrentUserStatus() === '' || getCurrentUserStatus() !== undefined) && getCurrentUserStatus() !== 'Sign In'"
          class="col-6">
          <button (click)="markStatus('Sign In')" [disabled]="checkActionEnableCondition()"
                  class="btn btn-primary btn-lg w-100">
            Sign In
          </button>
        </div>
        <div *ngIf="getCurrentUserStatus() === 'Sign In'" class="col-6">
          <button (click)="markStatus('Sign Out')" class="btn btn-danger btn-lg w-100">
            Sign Out
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- leave -->
  <div *ngIf="getCurrentUserStatus() !== 'Sign In'" class="card mb-4">
    <div class="card-header">
      <h5 class="text-uppercase">Apply for leave</h5>
    </div>
    <div class="card-body">
      <div class="form-group mb-3">
        <label class="mb-2 text-capitalize text-black-50" for="reason">Enter reason for leave</label>
        <input [(ngModel)]="reason" class="form-control" id="reason" name="reason" placeholder="Type here...">
      </div>
      <hr>
      <button (click)="markStatus('On Leave')" [disabled]="reason.length < 3" class="btn btn-outline-dark btn-lg">
        Apply Leave
      </button>
    </div>
  </div>

  <!-- logout -->
  <button (click)="signOutUser()" class="btn btn-danger btn-lg w-75">
    Logout
  </button>
</div>
