<div class="text-center m-3">
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="text-uppercase">Your Site</h5>
    </div>
    <div class="card-body">
      <h3 *ngIf="activeUser !== undefined">
        {{activeUser['activeSite']}}
      </h3>
      <h3 *ngIf="activeUser === undefined || activeUser['activeSite'].length < 1">
        -
      </h3>
      <hr>
      <h6>({{entireDate}})</h6>
    </div>
  </div>
  <div class="card mb-4"
       *ngIf="activeUser !== undefined && activeUser.designation !== undefined && activeUser.designation === 'Sub-Admin'">
    <!-- permission only if second level admin -->
    <div class="card-header">
      <h5 class="text-uppercase">Site Updates&nbsp;
        <span class="position-absolute right-1">
          <img src="https://image.flaticon.com/icons/png/512/1827/1827422.png" alt="notification" width="20"
               height="20"/>
        </span>
      </h5>
    </div>
    <div class="card-body">

      <!-- upload material -->
      <div>
        <input type="file" class="btn btn-primary" id="uploadMaterial"
               (change)="onFileSelected($event, true)"
               name="image"
               autocomplete="off" hidden/>
        <label class="border-dark btn btn-light btn-close-white w-75" for="uploadMaterial">
          &#x2750;&nbsp;Upload Material
        </label>
      </div>

      <!-- upload progress -->
      <div class="mt-2">
        <input type="file" class="btn btn-primary" id="uploadProgress"
               (change)="onFileSelected($event, false)"
               name="image"
               autocomplete="off" hidden/>
        <label class="border-dark btn btn-light btn-close-white w-75" for="uploadProgress">
          &#x262F;&nbsp;Upload Progress
        </label>
      </div>

    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="text-uppercase">Regular Actions</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <button class="btn btn-primary btn-lg w-100" (click)="markStatus('Sign In')">
            Sign In
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-danger btn-lg w-100" (click)="markStatus('Sign Out')">
            Sign Out
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="text-uppercase">Apply for leave</h5>
    </div>
    <div class="card-body">
      <div class="form-group mb-3">
        <label for="reason" class="mb-2 text-capitalize text-black-50">Enter reason for leave</label>
        <input name="reason" id="reason" [(ngModel)]="reason" class="form-control" placeholder="Type here...">
      </div>
      <hr>
      <button class="btn btn-outline-dark btn-lg" [disabled]="reason.length < 3" (click)="markStatus('On Leave')">
        Apply Leave
      </button>
    </div>
  </div>

  <!-- logout -->
  <button class="btn btn-danger btn-lg w-75" (click)="signOutUser()">
    Logout
  </button>
</div>
